<a href="https://colab.research.google.com/github/JayaManasa/learn_ML/blob/main/Classifying_linear_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import tensorflow as tf
from tensorflow import keras
import pandas as pd
import numpy as np

In [2]:
train_df = pd.read_csv('/content/train.csv')
train_df

             x         y  color
0     1.146728  2.233629    0.0
1     3.676886  4.520687    0.0
2     0.730671  1.426260    0.0
3     1.950790  3.145987    0.0
4     4.323010  5.320534    0.0
...        ...       ...    ...
3995  1.689159  1.110303    1.0
3996  1.172153  0.043722    1.0
3997  1.282723  0.787167    1.0
3998  2.227875  1.446870    1.0
3999  0.232951 -0.723405    1.0

[4000 rows x 3 columns]

Changing the order/ shuffle data for better learning

In [3]:
np.random.shuffle(train_df.values)

In [4]:
from tensorflow.python import metrics
model = keras.Sequential([
    keras.layers.Dense(8, input_shape=(2,), activation='relu'),
    keras.layers.Dense(2)])

In [5]:
model.compile(optimizer='adam',
              loss=keras.losses.SparseCategoricalCrossentropy(from_logits=True),
              metrics=['accuracy'])

Combining  x y columns into single numpy array x

In [6]:
x = np.column_stack((train_df.x.values, train_df.y.values))
print(x)

[[1.55401797 0.82138046]
 [2.92245907 1.99739312]
 [3.61160748 4.69585892]
 ...
 [2.22189447 3.08316637]
 [3.76097202 2.68643437]
 [2.51066139 1.62778999]]

In [7]:
model.fit(x, train_df.color.values, batch_size= 4, epochs =5)

Epoch 1/5
1000/1000 [==============================] - 2s 1ms/step - loss: 0.3431 - accuracy: 0.9340
Epoch 2/5
1000/1000 [==============================] - 1s 1ms/step - loss: 0.0612 - accuracy: 0.9990
Epoch 3/5
1000/1000 [==============================] - 1s 1ms/step - loss: 0.0222 - accuracy: 1.0000
Epoch 4/5
1000/1000 [==============================] - 1s 1ms/step - loss: 0.0105 - accuracy: 1.0000
Epoch 5/5
1000/1000 [==============================] - 1s 1ms/step - loss: 0.0057 - accuracy: 1.0000

In [9]:
test_df = pd.read_csv('/content/test.csv')
test_x =np.column_stack((test_df.x.values, test_df.y.values))

print("EVALUATION")
model.evaluate(test_x, test_df.color.values)

EVALUATION
32/32 [==============================] - 0s 1ms/step - loss: 0.0041 - accuracy: 1.0000

[0.004139984957873821, 1.0]